body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'kudry', Arial, Helvetica, sans-serif;
    color: #E6BE51;
}

.main1{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/background1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.text1{
    font-size: 3vw;
    position: absolute;
    top: 20vw;
}

.heart1{
    position: absolute;
    left: 0;
    top: 0;
    width: 31vw;
}

.heart2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 31vw;
}

.heart3{
    position: absolute;
    right: calc(12vw/3);
    top: calc(10vw/3);
    width: 9vw;
}

.heart4{
    position: absolute;
    left: calc(12vw/3);
    bottom: calc(10vw/3);
    width: 9vw;
}

.text1_2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2vw;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #E6BE51;
}

.starts{
    width: 65vw;
}

.cat-cont1{
    border-radius: 50%;
    border: 3px solid #E6BE51;
    width: 5vw;
    height: 5vw;
    position: absolute;
    margin-top: 10vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cat-cont1 img{
    width: 100%;
    height: auto;
}

.main2{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/background2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cat-cont2{
    border-radius: 50%;
    border: 3px solid #E6BE51;
    width: 5vw;
    height: 5vw;
    position: absolute;
    margin-top: 10vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cat-cont2 img{
    width: 100%;
    height: auto;
}

.text2{
    font-size: 3vw;
    position: absolute;
    top: 11vw;
}

.text2_2{
    font-size: 2vw;
    position: absolute;
    top: 15vw;
}

.text2_3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2vw;
    position: absolute;
    top: calc(10vw/3);
    left: calc(10vw/3);
    color: #E6BE51;
}

.text2_4{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2vw;
    position: absolute;
    top: calc(10vw/3);
    right: calc(10vw/3);
    color: #E6BE51;
}

.doodle2-1{
    width: 25vw;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: scale-1 5s linear infinite;
}

.doodle2-2{
    width: 20vw;
    position: absolute;
    right: 0;
    animation: scale-1 12s linear infinite;
}

.main3{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/background3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.heart3-1{
    width: 30vw;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: #33008B;
    left: 0;
    top: 0;
    cursor: pointer;
}

.heart3-1 img{
    width: 100%;
}

.heart3-1 p{
    position: absolute;
}

.heart3-2{
    width: 30vw;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: #33008B;
    right: 0;
    top: 0;
    cursor: pointer;
}

.heart3-2 img{
    width: 100%;
}

.heart3-2 p{
    position: absolute;
}

.heart3-3{
    width: 30vw;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: #33008B;
    cursor: pointer;
}

.heart3-3 img{
    width: 100%;
}

.heart3-3 p{
    position: absolute;
}

.heart3-4{
    width: 30vw;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: #33008B;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.heart3-4 img{
    width: 100%;
}

.heart3-4 p{
    position: absolute;
}

.heart3-5{
    width: 30vw;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: #33008B;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.heart3-5 img{
    width: 100%;
}

.heart3-5 p{
    position: absolute;
}

.main4{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/background4.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.heart4-1{
    width: 20vw;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #CF5255;
    left: calc(-10vw/3);
    bottom: calc(-10vw/3);
    cursor: pointer;
}

.heart4-1 img{
    width: 100%;
}

.heart4-1 p{
    position: absolute;
}

.text4-1{
    font-size: 3vw;
    position: absolute;
    top: 10vw;
}